<link rel="stylesheet" type="text/css" th:href="@{/main.css}"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<img th:src="@{/images/spring-framework.png}"/>
<h1 th:text="${trainer} +''+${adresse}" ></h1>
<h2 th:text="${adresse}"></h2>
<ul>
  <li th:each="item : ${names}" th:text="${item}">Item</li>
</ul>
<table align="center" border="1" class="table">
	<tr><th>Nom</th><th>Age</th><th>Téléphone</th><th>Adresse</th></tr>
	<tr th:each="stagiaire : ${Stagiaires}">
		<td th:text="${stagiaire.nom}"></td>
	    <td th:text="${stagiaire.age}"></td>
		<td th:text="${stagiaire.tel}"></td>
		<td th:text="${stagiaire.adresse}"></td>
		<td><a href="#" class="btn btn-primary">Editer</a></td>
	    <td><a href="#" class="btn btn-danger">Supprimer</a></td>
	
	</tr>
</table>